* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:whitesmoke
}

nav {
    text-align: left;
    background-color:rgba(92, 102, 109, 0.562);
    
}

nav a:hover  {
    color: brown;
}

.barra {
    background: repeating-linear-gradient(
        -60deg,
        #a3995d, 
        #FFD700 10px, 
        #F0E68C 10px, 
        #F0E68C 20px
    );
    height: 20px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.flex{
    display: flex;
}