div {
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}

.robo{
    background-color: wheat;
    width: 30px;
}

.produto button {
    background: #000;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 100px;
    transition: background 0.6s, transform 0.3s;
    font-size: 16px;
    font-weight: 600;
}