* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: floralwhite;
}

nav {
    text-align: left;
    background-color:rgba(92, 102, 109, 0.562);
    height: 120px;
    
}

nav a:hover  {
    color: brown;
}

.barra {
    background: repeating-linear-gradient(
        -60deg,
        #a3995d, 
        #FFD700 10px, 
        #F0E68C 10px, 
        #F0E68C 20px
    );
    height: 20px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.flex{
    display: flex;
}

p {
    margin: 20px;
}

button{
    margin: 10px    ;
    height: 40px;
    width: 60px;

}

.sec1{
    background-color:  rgb(170, 189, 170), rgb(101, 114, 134);
}

button img{
    width: 50%;
    height: 50%;
}
